@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
/*  color-scheme: light dark;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




::-webkit-input-placeholder { /* Edge */
  color: #f0f0f0;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #f0f0f0;
}

::placeholder {
  color: grey;
}



html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('wall.jpg');
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 0px 25px;
}

.hamburger-menu > i {
  font-size: 22px;
  cursor: pointer;
}




.hero {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > h3 {
  position: absolute;
  font-size: 25px;
  top: 9rem;
  font-weight: 900;
}

.search-container {
  width: 60vw;
  height: auto;
}

#search-lang {
  font-weight: 800;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  margin: 5px 0px;
}

.searchbar > input {
  font-size: 45px;
  width: 100%;
  height: auto;
  font-weight: bolder;
  margin-right: 10px;
  margin-left: 20px; 
  background: transparent; 
  font-family: 'Raleway', sans-serif;
  border: none;
}

.searchbar > input:focus {
  outline: none;
}

.searchbar > input::selection {
  color: grey;
  background: transparent;
}


.searchbar > input:focus + #search-label {
  height: 0%;

}

#search-label {
  height: 100%;
  width: 5px;
  background-color: black;
  position: absolute;
  left: 0;
  transition: .25s ease-in-out;

}

.searchbar > i {
  color: grey;
  margin: 0px 15px;
  font-size: 40px;
  cursor: pointer;
}

.ph-x {
  font-size: 10px;
}

.searchbar > i:hover {
  color: black;
}

#description {
  margin: 30px 20px
}


.notification-panel {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  bottom: 0;
  background: black;
  color: white;
  transform: translateY(5.3rem);
  transition: 1s ease;
  padding: 0px 25px;
  box-shadow: 0px -2px 10px -6px black;
}


.panel-active {
  transform: translateY(0);
}

#timeout-bar {
  position: absolute;
  bottom: 0 ;
  height: 2px;
  width: 100%;
  background-color: white;
}

#notify-icon {
  font-size: 25px;
  padding: 10px;
  margin-right: 10px ;
}

#notify-content {
  font-size: 20px;
  font-weight: bolder;
}

.noti-options {
  position: absolute;
  width: auto;
  height: auto;
  right: 10px;
}

.noti-options > i  {
  font-size: 30px;
}



@media only screen and (max-width: 35.5em) {

  .search-container {
    width: 100%;
    padding: 0px 10px;
  }

  .searchbar { height: auto; }
  
  .searchbar > input { font-size: 25px; padding: 5px 0px;}

  .searchbar > i { font-size: 25px; }

  #description {
    font-size: 10px;
    margin: 15px 10px;
   }

}
